@charset "utf-8";
/* CSS Document */
.toolsbg{
	position: absolute;
	top: 8%;
	right: 1px;
	background-color:#FF66FF;
	filter:alpha(opacity=80); -moz-opacity:0.8;  -khtml-opacity: 0.8; opacity: 0.8;
}